<%- include('../../fragments/header.ejs') %>
<main>
    <b>Dodaj Sklep</b>
    <form class="form">
        <label for="Adres"class="symbol-required">Adres*:</label>
        <input type="text" name="Adres"id="Adres" required/>
        <span id="errorAdres"></span>
        <label for="dateOfOpen"class="symbol-required">Data Otwarcia*:</label>
        <input type="date" name="dateOfOpen"id="dateOfOpen" required/>
        <span id="errorDateOfOpen"></span>
        <input type="submit" value="Dodaj" class="form-button-submit"/>
    </form>

</main>
<%- include('../../fragments/footer.ejs') %>