<%- include('../../fragments/header.ejs') %>
<main>
    <b>Edycja klienta</b>
    <form class="form">
        <label for="firstNameKlient" class="symbol-required">Imię*:</label>
        <input type="text" name="fristNameKlient" id="firstNameKlient" required/>
        <span id="errorFirstName" class="error-text"></span>
        <label for="lastName" class="symbol-required">Nazwisko*:</label>
        <input type="text" name="lastName"id="lastName" required/>
        <span class="error-text" id="errorLastName"></span>
        <label for="age" class="symbol-required">Wiek*:</label>
        <input type="number" name="age"id="age" required/>
        <span id="errorAge" class="error-text"></span>
        <label for="M" class="symbol-required">Plec*:</label>

             <div>
            <input type="radio" id="M" name="sex" value="M"
                   checked>
            <label for="M">M</label>
            </div>
           <div>
            <input type="radio" id="Z" name="sex" value="Z">
            <label for="Z">Z</label>
        </div>

        <span id="errorstraczonaSumma"></span>
        <input type="submit" value="Dodaj"class="form-button-submit"/>
    </form>

</main>

<%- include('../../fragments/footer.ejs') %>