<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1">
    <title>Truskawka.pl</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<header>
    <h1>Sieć sklepow Truskawka</h1>
    <img src="images/image.png" alt="truskawka">
</header>
<nav>
    <ul>
        <li><a href="/" class="active"><%= __('nav.main-page')%></a></li>
        <li><a href="/skleps"><%= __('nav.departments')%></a></li>
        <li><a href="/klients"><%= __('nav.employees')%></a></li>
        <li><a href="/zakups"><%= __('nav.employments')%></a></li>
    </ul>
</nav>