<%- include('../../fragments/header.ejs') %>
<main>
    <h2>
        <b>Lista Zakupow</b>
    </h2>
    <table class="tabele-list">
        <thread>
            <tr>
                <th>Imie klienta</th>
                <th>Addresa</th>
                <th>Straczona suma</th>
                <th>Data ostatniego wizytu</th>
                <th>Data nastepnego wizytu</th>
                <th>Akcje</th>
            </tr>
        </thread>
        <tbody>
        <tr>
            <td>Anton Solodkyi</td>
            <td>Lopuszanska 22</td>
            <td>200 zl</td>
            <td>12-12-2021</td>
            <td>12-12-2022</td>
            <td><ul>
                    <a href="details.ejs" class="list-actions-button-details">Szczegoly</a>
                    <a href="/zakups/edit" class="list-actions-button-edit">Edytuj</a>
                <a onclick="function myFunction() {
                       alert('Rekord zostal usunienty');
                        }
                        myFunction()" class="list-actions-button-delete" >Usuń</a>
            </ul></td>
        </tr></tbody>
    </table>

    <p><a href="/zakups/add" class="button-add">Dodac nowe zakupy</a></p>
</main>
<%- include('../../fragments/footer.ejs') %>