<%- include('./fragments/header.ejs') %>
<main>
    <h2>Strona Glowna</h2>
    <p>Witamy na stronie internatowej sklepu Truskawka , tutaj ty mozesz
    zobaczycz kto i gdzie kupowal pordukty w sklepie Truskawka!</p>
</main>
<%- include('./fragments/footer.ejs') %>
